body {
  margin: 0;
  font-family: -apple-system, "Raleway", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
:after,
:before,
body,
html {
  box-sizing: border-box
}

button,
ul {
  padding: 0
}

a,
button {
  cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0
}

img {
  display: block;
  max-width: 100%
}

a {
  text-decoration: none
}

ul {
  list-style: none
}

button {
  border: none;
  background-color: inherit;
  border-radius: 2px
}

input[type=number] {
  -moz-appearance: textfield
}

input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance: number-input
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.container {
  min-width: 360px;
  margin: 0 auto;
  padding: 0 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center
}

.errorSection {
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 20px;
}

.errorPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
